{% extends "layout.njk" %}

{% block head %}
<title>Página não encontrada</title>
{% endblock %}

{% block content %}
<main>
    <h1>A página solicitada não pôde ser encontrada. Por favor tente novamente!</h1>
</main>
{% endblock %}