{% extends "layout.njk" %}

{% block head %}
    <title>{{card.title}}</title>
{% endblock %}

{% block content %}
    <main>
        
        <iframe class="iframe_full" src="https://blog.rocketseat.com.br/{{card.id}}" frameborder="0"></iframe>
            
    </main>
{% endblock %}

        